body {
  background: #E5E8EC;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden; 
}

.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

nav {
  display: flex;
  width: 80%;
  max-width: 1000px; 
  gap: 0.5rem;
  justify-content: center;
  padding-left: 2.45rem;
}

nav a {
  flex: 1;
  background: #2A324B;
  color: white;
  padding: 1.2rem;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.3rem;
  transition: all 0s;
}

nav a.active {
  background: white;
  color: #2A324B;
  font-weight: bold;
  flex: 1;
}


main {
  background: white;
  color: #2A324B;
  padding: 3rem;
  padding-right: 1.9rem;
  width: 80%; 
  max-width: 1000px; 
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}


main > div {
  box-shadow: none;
  background: transparent;
  padding: 0;
}

h2 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

p {
  font-size: 1rem;
  margin-top: 1rem;
}

ul {
  padding-left: 1.5rem;
}

li {
  list-style-type: disc;
  margin-bottom: 0.5rem;
}

a {
  color: #58699D;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
  color: #58699D;
}

/* === MEDIA QUERIES === */


@media (max-width: 1024px) {

  main {
    padding-right: 1.9rem;
  }

  main h2, a{
    padding: 0rem;
  }

  nav, main {
    width: 80%; 
    max-width: 900px;
  }
}

/* Skjermstørrelser mobil */
@media (max-width: 768px) {
  nav {
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding-left: 1.3rem;
  }

  nav a {
    width: 100%;
    font-size: 1.1rem;
  }

  main {
    width: 97%; 
    padding-left: 1.5rem;
  }

  h2 {
    width: 100%;
    text-align: center;
  }
}

/* Skjermstørrelse små mobile */
@media (max-width: 480px) {
  nav a {
    font-size: 1rem;
    padding: 0.8rem;
  }

  main {
    width: 98%; 
    padding: 1.5rem;
    align-items: center;
  }

  h2 {
    font-size: 1.5rem;
  }

  p, a {
    font-size: 0.9rem;
  }
}
